html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
form {
    display: block
}

main {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@-webkit-keyframes discover {
    5%,
    95% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
    50% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px)
    }
}

@keyframes discover {
    5%,
    95% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
    50% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px)
    }
}

@-webkit-keyframes cursor-focus {
    0%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    30% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
}

@keyframes cursor-focus {
    0%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    30% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
}

@-webkit-keyframes hamburger {
    0%,
    50%,
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
    25% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px)
    }
    75% {
        -webkit-transform: translate(-3px);
        transform: translate(-3px)
    }
}

@keyframes hamburger {
    0%,
    50%,
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
    25% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px)
    }
    75% {
        -webkit-transform: translate(-3px);
        transform: translate(-3px)
    }
}

@-webkit-keyframes text-anim {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes text-anim {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes astronaut {
    0%,
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(-25deg) scale(1.5);
        transform: translate(-50%, -50%) rotate(-25deg) scale(1.5)
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotate(25deg) scale(1.85);
        transform: translate(-50%, -50%) rotate(25deg) scale(1.85)
    }
}

@keyframes astronaut {
    0%,
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(-25deg) scale(1.5);
        transform: translate(-50%, -50%) rotate(-25deg) scale(1.5)
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotate(25deg) scale(1.85);
        transform: translate(-50%, -50%) rotate(25deg) scale(1.85)
    }
}

@-webkit-keyframes moon-zoom {
    0%,
    100% {
        -webkit-transform: translateY(-50%) rotate(-25deg) scale(1);
        transform: translateY(-50%) rotate(-25deg) scale(1)
    }
    50% {
        -webkit-transform: translateY(-50%) rotate(-25deg) scale(2);
        transform: translateY(-50%) rotate(-25deg) scale(2)
    }
}

@keyframes moon-zoom {
    0%,
    100% {
        -webkit-transform: translateY(-50%) rotate(-25deg) scale(1);
        transform: translateY(-50%) rotate(-25deg) scale(1)
    }
    50% {
        -webkit-transform: translateY(-50%) rotate(-25deg) scale(2);
        transform: translateY(-50%) rotate(-25deg) scale(2)
    }
}

@-webkit-keyframes mars-zoom {
    0%,
    100% {
        -webkit-transform: translateY(35%) scale(1);
        transform: translateY(35%) scale(1)
    }
    50% {
        -webkit-transform: translateY(35%) scale(1.75);
        transform: translateY(35%) scale(1.75)
    }
}

@keyframes mars-zoom {
    0%,
    100% {
        -webkit-transform: translateY(35%) scale(1);
        transform: translateY(35%) scale(1)
    }
    50% {
        -webkit-transform: translateY(35%) scale(1.75);
        transform: translateY(35%) scale(1.75)
    }
}

@-webkit-keyframes anim-rotate-phone {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
        transform: translate(-50%, -50%) rotateZ(90deg)
    }
    30% {
        -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
        transform: translate(-50%, -50%) rotateZ(90deg)
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
        transform: translate(-50%, -50%) rotateZ(0deg)
    }
    80% {
        -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
        transform: translate(-50%, -50%) rotateZ(0deg)
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
        transform: translate(-50%, -50%) rotateZ(90deg)
    }
}

@keyframes anim-rotate-phone {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
        transform: translate(-50%, -50%) rotateZ(90deg)
    }
    30% {
        -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
        transform: translate(-50%, -50%) rotateZ(90deg)
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
        transform: translate(-50%, -50%) rotateZ(0deg)
    }
    80% {
        -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
        transform: translate(-50%, -50%) rotateZ(0deg)
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
        transform: translate(-50%, -50%) rotateZ(90deg)
    }
}

@-webkit-keyframes anim-picto-cancel {
    0% {
        opacity: 1
    }
    30% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes anim-picto-cancel {
    0% {
        opacity: 1
    }
    30% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes anim-picto-checked {
    0% {
        opacity: 0
    }
    30% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    80% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes anim-picto-checked {
    0% {
        opacity: 0
    }
    30% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    80% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@font-face {
    font-family: 'Gotham';
    src: url("../fonts/GothamLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamLight.woff") format("woff"), url("../fonts/GothamLight.ttf") format("truetype"), url("../fonts/GothamLight.svg#GothamLight") format("svg");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: 'Gotham';
    src: url("../fonts/GothamLight-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamLight-Italic.woff") format("woff"), url("../fonts/GothamLight-Italic.ttf") format("truetype"), url("../fonts/GothamLight-Italic.svg#GothamLight-Italic") format("svg");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: 'Gotham';
    src: url("../fonts/GothamMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamMedium.woff") format("woff"), url("../fonts/GothamMedium.ttf") format("truetype"), url("../fonts/GothamMedium.svg#GothamMedium") format("svg");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Gotham';
    src: url("../fonts/GothamMedium-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamMedium-Italic.woff") format("woff"), url("../fonts/GothamMedium-Italic.ttf") format("truetype"), url("../fonts/GothamMedium-Italic.svg#GothamMedium-Italic") format("svg");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'Gotham';
    src: url("../fonts/GothamBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamBold.woff") format("woff"), url("../fonts/GothamBold.ttf") format("truetype"), url("../fonts/GothamBold.svg#GothamBold") format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Ailerons';
    src: url("../fonts/Ailerons-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ailerons-Regular.otf") format("opentype"), url("../fonts/Ailerons-Regular.woff") format("woff"), url("../fonts/Ailerons-Regular.ttf") format("truetype"), url("../fonts/Ailerons-Regular.svg#Ailerons-Regular") format("svg");
    font-weight: normal;
    font-style: normal
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 20px;
    overflow: hidden
}

body {
    margin: 0;
    padding: 0;
    --primary-color: #fff;
    --fourth-color: #020349;
    --title-font: 'Ailerons', Arial, sans-serif;
    --text-font: 'Gotham', Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    color: var(--second-color);
    font-family: var(--text-font);
    text-transform: uppercase;
    cursor: none;
    cursor: url("../img/cursor.png") 1 1, auto !important
}

body.colors-home {
    --second-color: #05F1FF;
    --third-color: #233bf9
}

body.colors-work {
    --second-color: #acacac;
    --third-color: #4d4d4d
}

body.colors-contact {
    --second-color: #ff891b;
    --third-color: #ea322c
}

::-moz-selection {
    background: var(--third-color)
}

::selection {
    background: var(--third-color)
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

li {
    list-style-type: none
}

a {
    color: var(--primary-color);
    text-decoration: none
}

#ieonly,
#small-mobile {
    display: none
}

.gradient {
    background: linear-gradient(60deg, var(--second-color), var(--third-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: exclusion
}

.text-anim {
    display: block;
    height: auto;
    width: auto;
    overflow: hidden
}

.text-anim.exception {
    display: inline
}

.loader {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #161616;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 10
}

.loader.hide {
    display: none;
    opacity: 0;
    z-index: -1
}

.loader .counter {
    width: 0;
    height: inherit;
    background: #000;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}

.loader .counter .percent {
    position: absolute;
    top: 65%;
    left: 2%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: var(--title-font);
    font-size: 30rem;
    font-weight: normal;
    letter-spacing: -8rem;
    color: var(--primary-color)
}

.loader .counter span {
    display: inline-block
}

.loader .counter .state {
    position: absolute;
    top: 12%;
    left: 5%;
    font-family: var(--title-font);
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: -0.2rem;
    color: var(--primary-color);
    text-transform: uppercase
}

.loader .counter .state.discover {
    left: initial;
    right: 12%
}

.loader .counter .state.loading,
.loader .counter .state.success,
.loader .counter .state.discover {
    opacity: 0;
    z-index: -1;
    visibility: hidden
}

.loader .counter .state.loading.active,
.loader .counter .state.success.active,
.loader .counter .state.discover.active {
    opacity: 1;
    z-index: 2;
    visibility: visible
}

.loader .counter .state.success,
.loader .counter .state.discover {
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}

.loader .counter .message-music {
    position: absolute;
    bottom: 15%;
    right: 9%;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}

.loader .counter .message-music.active {
    opacity: 1;
    z-index: 2
}

.loader .counter .message-music .headphones {
    width: 2.5rem;
    height: auto;
    margin-left: calc(50% - 1.25rem);
    margin-bottom: 0.5rem
}

.loader .counter .message-music .warning {
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 0.8rem;
    color: var(--primary-color);
    text-align: right
}

.discover {
    position: relative;
    width: auto;
    height: auto;
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.discover svg {
    z-index: 1;
    position: absolute;
    top: 2.5rem;
    left: 15%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform ease-in-out .3s;
    transition: -webkit-transform ease-in-out .3s;
    transition: transform ease-in-out .3s;
    transition: transform ease-in-out .3s, -webkit-transform ease-in-out .3s;
    -webkit-animation: discover infinite ease-in-out .5s;
    animation: discover infinite ease-in-out .5s;
    z-index: -1
}

.discover svg g line:first-of-type {
    stroke: #000;
    stroke-width: 1.5rem
}

.discover svg g line,
.discover svg g polyline,
.discover svg g circle {
    fill: none;
    stroke: white;
    stroke-width: 0.1rem
}

.discover svg g circle {
    display: block;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    -webkit-transition: stroke-dashoffset ease-in-out .5s;
    transition: stroke-dashoffset ease-in-out .5s
}

.discover:hover {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem)
}

.discover:hover svg {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: translateX(3rem);
    transform: translateX(3rem)
}

.discover:hover svg g circle {
    stroke-dashoffset: 0
}

#follower {
    position: absolute;
    top: -2rem;
    left: -2rem;
    pointer-events: none;
    z-index: 9999
}

#follower #circle {
    display: block;
    opacity: 1;
    height: 0.25rem;
    width: 0.25rem;
    margin-left: -0.15rem;
    margin-top: -0.5rem;
    background: var(--primary-color);
    border-radius: 50%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#follower #circle.hover {
    height: 2rem;
    width: 2rem;
    margin-left: -1rem;
    margin-top: -1rem;
    background: transparent;
    border: 3px solid var(--primary-color);
    opacity: .3
}

#follower #circle.hover.focus {
    -webkit-animation: cursor-focus .2s ease-in-out;
    animation: cursor-focus .2s ease-in-out
}

canvas {
    width: 100vw;
    height: 100vh
}

#wrapper {
    display: none;
    opacity: 0;
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden
}

#wrapper.all-loaded {
    display: block;
    opacity: 1
}

#home,
#work,
#contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

#home.active,
#work.active,
#contact.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

#home.visible .text-anim,
#work.visible .text-anim,
#contact.visible .text-anim {
    -webkit-animation: text-anim 2s ease-in-out;
    animation: text-anim 2s ease-in-out
}

nav {
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

nav.hide {
    top: -5%;
    opacity: 0
}

nav .hamburger {
    position: absolute;
    left: 50%;
    top: calc(2rem - 15px);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 1;
    z-index: 3;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

nav .hamburger:hover {
    opacity: .5
}

nav .hamburger:hover .hamburger-inner,
nav .hamburger:hover .hamburger-inner::before,
nav .hamburger:hover .hamburger-inner::after {
    -webkit-animation: none;
    animation: none
}

nav .hamburger.is-active .hamburger-inner,
nav .hamburger.is-active .hamburger-inner::before,
nav .hamburger.is-active .hamburger-inner::after {
    -webkit-animation: none;
    animation: none
}

nav .hamburger .hamburger-inner,
nav .hamburger .hamburger-inner::before,
nav .hamburger .hamburger-inner::after {
    background: linear-gradient(60deg, var(--second-color), var(--third-color));
    -webkit-animation: hamburger infinite linear 1s;
    animation: hamburger infinite linear 1s
}

nav .hamburger .hamburger-inner::before,
nav .hamburger .hamburger-inner::after {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

nav .menu {
    position: absolute;
    left: 50%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100vh;
    padding: 5rem 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) scale(0.8);
    transform: translateX(-50%) scale(0.8);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

nav .menu.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    z-index: 2
}

nav .menu li {
    font-family: var(--title-font);
    text-align: center
}

nav .menu li .link {
    font-size: 10rem;
    opacity: .3;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

nav .menu li .link:hover,
nav .menu li .link.active {
    opacity: 1
}

.link:before {
    background: linear-gradient(60deg, var(--second-color), var(--third-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: width 0s 0.3s;
    transition: width 0s 0.3s
}

.link:after {
    background: var(--primary-color)
}

.name {
    position: absolute;
    left: 2rem;
    top: 2rem;
    font-family: var(--title-font);
    font-weight: normal;
    font-size: 2rem;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.name:hover {
    opacity: .5
}

.buttons-separator {
    position: absolute;
    right: 5.25rem;
    top: 2rem;
    font-size: 0.8rem;
    font-weight: 700
}

.button_music {
    position: absolute;
    right: 6rem;
    top: 2rem;
    font-size: 0.8rem;
    font-weight: 700;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.button_music.active {
    opacity: 1;
    z-index: 3
}

.button_music.active:hover {
    opacity: .5
}

.share-option {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 5rem;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: right;
    z-index: 2
}

.share-option.active .share .open {
    display: none;
    opacity: 0
}

.share-option.active .share .close {
    display: block;
    opacity: 1
}

.share-option.active .link {
    display: block;
    opacity: .5
}

.share-option .share {
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.share-option .share:hover {
    opacity: .5
}

.share-option .share .open,
.share-option .share .close {
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    opacity: 1;
    vertical-align: top;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.share-option .share .close {
    display: none;
    opacity: 0
}

.share-option .link {
    display: none;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.share-option .link:hover,
.share-option .link.active {
    opacity: 1
}

.share-option .link:before {
    right: 0
}

.share-option .link#copy .confirmation {
    display: none
}

.share-option .link#copy.action span {
    display: none
}

.share-option .link#copy.action .confirmation {
    display: block
}

.share-option #tocopy {
    opacity: 0
}

footer {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    height: 4rem;
    padding: 1rem 2rem 2rem 2rem;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
    background: linear-gradient(0deg, #000, transparent)
}

footer .copyright {
    display: inline-block;
    font-size: 0.6rem;
    font-weight: 500;
    text-align: right;
    -ms-flex-item-align: end;
    align-self: flex-end
}

#home.visible .astronaut {
    -webkit-animation: astronaut infinite 180s;
    animation: astronaut infinite 180s
}

#home .content {
    position: absolute;
    left: 30%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 55vw;
    height: auto
}

#home .content .title {
    font-family: var(--title-font);
    font-size: 12.5vw;
    font-weight: normal;
    letter-spacing: -1.25vw
}

#home .content .line {
    display: inline-block;
    height: 0.8rem;
    width: 8%;
    background: linear-gradient(60deg, var(--second-color), var(--third-color));
    vertical-align: top;
    margin-top: 0.3rem;
    margin-left: 2rem
}

#home .content .description {
    display: inline-block;
    width: 80%;
    padding-left: 1rem
}

#home .content .description .text {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-transform: none;
    text-align: justify
}

#home .content .description .text:last-of-type {
    margin-top: 0.8rem
}

#home .content .description .text .link {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: initial;
    vertical-align: middle;
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

#home .content .description .text .link:hover {
    opacity: .5
}

#home .astronaut {
    position: absolute;
    left: 20%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-60deg) scale(1);
    transform: translate(-50%, -50%) rotate(-60deg) scale(1);
    width: 22vw;
    height: auto;
    z-index: 0
}

#work.visible .moon {
    -webkit-animation: moon-zoom 180s linear infinite;
    animation: moon-zoom 180s linear infinite
}

#work .moon {
    position: absolute;
    left: -10%;
    top: 60%;
    -webkit-transform: translateY(-50%) rotate(-25deg) scale(1);
    transform: translateY(-50%) rotate(-25deg) scale(1);
    width: auto;
    height: 125%;
    z-index: -1
}

#work .projects {
    position: absolute;
    left: 35%;
    top: 55%;
    width: auto;
    height: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

#work .projects .item {
    position: relative;
    width: 25vw;
    height: 12rem
}

#work .projects .item:nth-of-type(1) {
    left: 25%
}

#work .projects .item:nth-of-type(2) {
    left: 125%
}

#work .projects .item:nth-of-type(3) {
    left: -20%;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%)
}

#work .projects .item .project {
    position: relative;
    display: block;
    width: inherit;
    height: inherit;
    z-index: 1
}

#work .projects .item .project .project-number {
    position: absolute;
    display: block;
    top: 45%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: var(--title-font);
    font-size: 12rem;
    font-weight: normal;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}

#work .projects .item .project .project-client {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 40%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: var(--text-font);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    text-align: left;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}

#work .projects .item .thumb {
    position: absolute;
    height: 100%;
    width: auto;
    left: 50%;
    top: 50%;
    opacity: 0;
    z-index: 0;
    -webkit-transform: translate(-11.5vw, -50%);
    transform: translate(-11.5vw, -50%);
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}

#work .projects .item .project-infos {
    margin-top: 1rem;
    font-family: var(--text-font);
    font-size: 1rem;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}

#work .projects .item .project-infos li {
    font-size: 0.6rem;
    line-height: 1rem;
    margin-left: 1rem;
    list-style-type: disc
}

#work .projects .item .project-infos li:first-of-type {
    margin-top: 0.2rem
}

#work .projects .item.active .project-number {
    left: -25%
}

#work .projects .item.active .project-client {
    top: -8%;
    left: 0;
    font-size: 1rem
}

#work .projects .item.active .thumb {
    opacity: 1
}

#work .projects .item.active .project-infos {
    opacity: 1;
    visibility: visible
}

#contact.visible .mars {
    -webkit-animation: mars-zoom 180s linear infinite;
    animation: mars-zoom 180s linear infinite
}

#contact .mars {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    -webkit-transform: translateY(35%);
    transform: translateY(35%);
    height: auto;
    z-index: -1
}

#contact .mars.anim {
    -webkit-animation: mars-zoom 180s linear infinite;
    animation: mars-zoom 180s linear infinite
}

#contact .content {
    position: absolute;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (3)[2];
    grid-template-columns: repeat(2, 3);
    top: 20%;
    left: 10%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    overflow: hidden
}

#contact .content .mail {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: var(--title-font);
    font-size: 10vw;
    font-weight: normal;
    letter-spacing: -2vw;
    margin-left: -1.75vw;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

#contact .content .mail:after {
    width: 101%;
    right: -2px
}

#contact .content .mail:hover,
#contact .content .mail.active {
    opacity: .5
}

#contact .content .infos {
    display: inline-block;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: 0.5vw;
    font-size: 1rem;
    line-height: 1.2rem
}

#contact .content .social {
    margin-top: 2.5vw;
    margin-left: 12vw;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1
}

#contact .content .social .link:after {
    right: 0.01rem
}

#contact .content .credits {
    margin-top: 2rem;
    margin-left: 1rem;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3
}

#contact .content .social .link,
#contact .content .credits .link {
    font-size: 1rem;
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

#contact .content .social .link:hover,
#contact .content .social .link.active,
#contact .content .credits .link:hover,
#contact .content .credits .link.active {
    opacity: .5
}

#contact .content .credit-name {
    font-size: 0.6rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem
}

#rotate {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
    background: #000
}

#rotate span {
    display: block;
    position: absolute;
    top: 72%;
    left: 50%;
    font-size: 1rem;
    color: var(--primary-color);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

#rotate .phone {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 200px;
    height: 150px;
    -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
    transform: translate(-50%, -50%) rotateZ(90deg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../img/iphone-x.svg");
    -webkit-animation: anim-rotate-phone 4s ease infinite;
    animation: anim-rotate-phone 4s ease infinite
}

#rotate .phone .cancel,
#rotate .phone .checked {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover
}

#rotate .phone .cancel {
    background-image: url("../img/cancel.png");
    opacity: 1;
    z-index: 9;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: anim-picto-cancel 4s ease infinite;
    animation: anim-picto-cancel 4s ease infinite
}

#rotate .phone .checked {
    background-image: url("../img/checked.png");
    opacity: 0;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: anim-picto-checked 4s ease infinite;
    animation: anim-picto-checked 4s ease infinite
}

#ieonly,
#small-mobile {
    display: none
}

#small-mobile {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #000
}

#small-mobile p {
    width: 80%;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: #fff
}

@media screen and (min-width: 2000px) {
    html {
        font-size: 24px
    }
    #work .projects .item {
        width: 30vw;
        height: 15rem
    }
    #work .projects .item .thumb {
        -webkit-transform: translate(-14vw, -50%);
        transform: translate(-14vw, -50%)
    }
    #work .projects .item:nth-of-type(2) {
        left: 115%
    }
    #work .projects .item .project .project-number {
        font-size: 15rem
    }
}

@media screen and (max-width: 1300px) {
    html {
        font-size: 16px
    }
    .discover svg {
        left: 0
    }
    #work .projects .item {
        width: 25vw;
        height: 12rem
    }
    #work .projects .item .thumb {
        -webkit-transform: translate(-11.5vw, -50%);
        transform: translate(-11.5vw, -50%)
    }
    #work .projects .item:nth-of-type(2) {
        left: 135%
    }
    #work .projects .item:nth-of-type(3) {
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%)
    }
    #work .projects .item .project .project-number {
        font-size: 12rem
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    html {
        font-size: 15px
    }
    .loader .counter .message-music {
        top: 4%;
        bottom: initial;
        right: 7%
    }
    .loader .counter .percent {
        top: 75%;
        left: 0
    }
    .loader .counter .state {
        top: 5%
    }
    .loader .counter .state.discover {
        top: 30%;
        left: 5%;
        right: initial
    }
    #follower {
        display: none
    }
    nav .menu {
        padding: 15rem 0
    }
    #home .content {
        left: 50%;
        top: 70%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 85vw
    }
    #home .astronaut {
        left: 50%;
        top: 35%;
        width: 35vw
    }
    #work .moon {
        left: -15%;
        top: 70%;
        height: 70%
    }
    #work .projects {
        left: 20%;
        top: 45%
    }
    #work .projects .item {
        width: 30vw;
        height: 12rem
    }
    #work .projects .item:nth-of-type(1) {
        left: 5%
    }
    #work .projects .item:nth-of-type(2) {
        left: 110%;
        top: 5vh
    }
    #work .projects .item:nth-of-type(3) {
        left: 30%;
        top: 20vh
    }
    #contact .mars {
        left: -25vw;
        width: 150vw
    }
    #contact .content .mail {
        font-size: 20vw;
        letter-spacing: -3.5vw;
        margin-left: -3.5vw;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / span 2
    }
    #contact .content .social {
        margin-left: initial;
        margin-top: initial;
        -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
        -ms-grid-column-align: end;
        justify-self: end;
        -ms-grid-row: 3;
        grid-row: 3
    }
    #contact .content .social li {
        margin-bottom: 1rem
    }
    #contact .content .social li:last-of-type {
        margin-bottom: 0
    }
}

@media screen and (min-width: 851px) and (max-width: 1024px) {
    html {
        font-size: 15px
    }
    .discover svg {
        left: -30%
    }
    #follower {
        display: none
    }
    nav .menu {
        padding: 7rem 0
    }
    #work .moon {
        height: 100%
    }
    #work .projects {
        top: 52%
    }
    #work .projects .item {
        width: 22vw;
        height: 11rem
    }
    #work .projects .item .thumb {
        -webkit-transform: translate(-8vw, -50%);
        transform: translate(-8vw, -50%)
    }
    #work .projects .item:nth-of-type(2) {
        left: 140%
    }
    #work .projects .item:nth-of-type(3) {
        left: -10%;
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%)
    }
    #work .projects .item .project .project-number {
        font-size: 11rem
    }
    .link--kukuri::after {
        right: 1px
    }
    #contact .content {
        top: 25%
    }
}

@media screen and (max-width: 850px) and (min-aspect-ratio: 13 / 9) {
    html {
        font-size: 16px;
        width: 100vw;
        height: 100vh;
        overflow: hidden
    }
    .loader,
    #wrapper {
        display: none
    }
    #rotate {
        display: block
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 12px
    }
    .loader .counter .message-music {
        top: 22%;
        right: 50%;
        -webkit-transform: translateX(50%);
        transform: translateX(50%)
    }
    .loader .counter .message-music .headphones {
        width: 5rem;
        margin-left: calc(50% - 2.5rem)
    }
    .loader .counter .message-music .warning {
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-align: center
    }
    .loader .counter .percent {
        top: 80%;
        font-size: 20rem;
        letter-spacing: -6rem
    }
    .loader .counter .state.success,
    .loader .counter .state.loading {
        left: 10%;
        font-size: 2rem
    }
    .loader .counter .state.discover {
        top: 50%;
        left: 10%;
        font-size: 2rem
    }
    .loader .counter .state.discover svg {
        top: 0.5rem;
        left: -30px
    }
    nav .hamburger {
        right: 0;
        bottom: 0;
        top: initial;
        left: initial;
        -webkit-transform: initial;
        transform: initial;
        padding: 25px 25px
    }
    nav .menu {
        padding: 15rem 0
    }
    nav .menu li .link {
        font-size: 6rem
    }
    footer {
        width: 80%;
        height: 6.5rem;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        right: initial;
        left: 0
    }
    footer .copyright {
        font-size: 0.7rem;
        line-height: 1.1rem;
        -ms-flex-item-align: end;
        align-self: flex-end;
        text-align: left;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center
    }
    .button_music {
        right: 7rem
    }
    .button_music,
    .share-option .link,
    .share-option .share .open,
    .share-option .share .close {
        font-size: 1rem
    }
    .buttons-separator {
        right: 6.25rem
    }
    .share-option {
        width: 7rem
    }
    .share-option .share .open,
    .share-option .share .close {
        margin-bottom: 2rem
    }
    .share-option .link {
        margin-bottom: 1.5rem
    }
    #home .content {
        width: 90vw;
        top: 65%
    }
    #home .content .title {
        font-size: 20vw;
        letter-spacing: -2vw
    }
    #home .content .line {
        width: 6%;
        margin-left: 1rem
    }
    #home .content .description {
        width: 85%
    }
    #home .content .description .text,
    #home .content .description .text .link {
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-align: initial
    }
    #home .astronaut {
        top: 30%;
        width: 45vw
    }
    #work .moon {
        left: -20%;
        top: 75%;
        height: 60%
    }
    #work .projects {
        left: 20%;
        top: 42%
    }
    #work .projects .item {
        width: 70vw;
        height: 12rem;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out
    }
    #work .projects .item:nth-of-type(1).active+.item:nth-of-type(2) {
        left: 0%;
        top: 16vh
    }
    #work .projects .item:nth-of-type(1) {
        left: 0%
    }
    #work .projects .item:nth-of-type(2) {
        left: 0%;
        top: 4vh
    }
    #work .projects .item:nth-of-type(3) {
        left: 0%;
        top: 16vh
    }
    #work .projects .item .thumb {
        -webkit-transform: translate(-30vw, -50%);
        transform: translate(-30vw, -50%)
    }
    #work .projects .item .project .project-number {
        font-size: 8rem
    }
    #work .projects .item .project-infos {
        font-size: 1.2rem
    }
    #work .projects .item .project-infos li {
        font-size: 0.9rem;
        line-height: 1.3rem
    }
    #work .projects .item.active .project-number {
        left: -15%
    }
    #work .projects .item.active .project-client {
        top: -10%;
        font-size: 1.4rem
    }
    #contact .content {
        -ms-grid-columns: (4)[2];
        grid-template-columns: repeat(2, 4)
    }
    #contact .content .credit-name {
        font-size: 0.8rem;
        margin-bottom: 0.35rem
    }
    #contact .content .credits .link,
    #contact .content .social .link {
        font-size: 1.2rem
    }
    #contact .content .social {
        margin-left: 1rem;
        margin-top: 4rem;
        -ms-flex-item-align: start;
        align-self: flex-start;
        justify-self: flex-start;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 4;
        grid-row: 4
    }
    #contact .content .social .social li {
        margin-bottom: 1.5rem
    }
    #contact .mars {
        left: -50vw;
        width: 175vw
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 12px
    }
    .loader,
    #wrapper,
    footer,
    #follower {
        display: none
    }
    #small-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}


/*# sourceMappingURL=main.min.css.map */